aiohttp
aiofiles
environs
aiohttp
asyncio
gitPython
heroku3
lottie
prettytable
gpytranslate
psycopg2-binary
pymediainfo
python-dotenv
requests
speedtest-cli==2.1.3
sqlalchemy==1.3.23
tracemoepy
urllib3
uvloop
gitpython
pyrogram 
tgcrypto
pymongo[srv]
motor
pillow
telegraph
gTTS
opencv-python-headless
requests
googlesearch-python==1.0.1
bs4
pytube
youtube_dl
youtube-search-python
wget==3.2
yt_dlp
youtube_search